*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.metadata/.plugins/org.eclipse.core.resources/.history/2/00c1b161b6cd00161a439a378d012f90

.metadata/.log
